[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
app = {editable = true, path = "."}

[dev-packages]
pytest = "*"
bs4 = "*"

[requires]
python_version = "3.8"
