[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
app = {editable = true, path = "."}
fastai = "*"

[dev-packages]
pytest = "*"
bs4 = "*"
pytest-watch = "*"
pytest-flask = "*"

[requires]
python_version = "3.8"

[scripts]
server = "bash -c 'FLASK_APP=app FLASK_ENV=development flask run'"

test = "pytest"
test-watch = "ptw"

assets-dev = "npx tailwindcss -o app/static/tailwind.css"
assets-prod = "bash -c 'NODE_ENV=production npx tailwindcss -o app/static/tailwind.css --minify'"
