{% extends "layout.html" %}
{% block title %}Australian Fungi ID{% endblock %}
{% block content %}
  <p class="text-lg">We guess that might be...</p>

  <p class="text-sm mb-2"><em>We're only taking a guess. Many mushrooms are toxic and will kill you if you eat them. Don't!</em></p>

  <ol>
    {% for prediction in predictions %}
      <li class="mb-6">
        <p class="text-xl"><span class="font-bold">{{ prediction.scientific_name }}</span> ({{ prediction.confidence }}%)</p>
        <div class="flex gap-4">
          {% for photo in prediction.photos %}
            <figure class="flex-initial min-w-0">
              <img src="{{ photo['image_url'] }}" />
              <figcaption>
                Photo by <a class="underline" href="https://www.inaturalist.org/people/{{ photo['user_login'] }}">{{ photo['user_login'] }}</a>
              </figcaption>
            </figure>
          {% endfor %}
        </div>
      </li>
    {% endfor %}
  </ol>
{% endblock %}
